/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.divider-text {
    margin-top: 25px;
    margin-bottom: 15px;
}

.v-stepper-header {
    z-index: 0;
}

.v-timeline-divider__dot {
    z-index: 0;
}

.error-message {
  text-align: center;
  color: red;
}

.login-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    padding: 20px;
}
.message-box {
    max-width: 1100px;
    margin: auto;
}
