* {
  box-sizing: border-box;
}
  
.fab-wrapper {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}

.fab-checkbox {
  display: none;
}

.fab {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #126ee2;
  box-shadow: 0px 5px 20px #81a4f1;
  transition: all 0.3s ease;
  z-index: 99;
  border-bottom-right-radius: 6px;
  border: 1px solid #0c50a7;
}

.fab:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.fab-checkbox:checked ~ .fab:before {
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  background-color: rgba(255, 255, 255, 0.2);
}

.fab:hover {
  background: #2c87e8;
  box-shadow: 0px 5px 20px 5px #81a4f1;
}

.fab-dots {
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  transform: translateX(0%) translateY(-50%) rotate(0deg);
  opacity: 1;
  animation: blink 3s ease infinite;
  transition: all 0.3s ease;
}

.fab-dots-1 {
  left: 15px;
  animation-delay: 0s;
}

.fab-dots-2 {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation-delay: 0.4s;
}

.fab-dots-3 {
  right: 15px;
  animation-delay: 0.8s;
}

.fab-checkbox:checked ~ .fab .fab-dots {
  height: 6px;
}

.fab .fab-dots-2 {
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
}

.fab-checkbox:checked ~ .fab .fab-dots-1 {
  width: 32px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.fab-checkbox:checked ~ .fab .fab-dots-3 {
  width: 32px;
  border-radius: 10px;
  right: 50%;
  transform: translateX(50%) translateY(-50%) rotate(-45deg);
}

@keyframes blink {
  50% {
    opacity: 0.25;
  }
}

.fab-checkbox:checked ~ .fab .fab-dots {
  animation: none;
}

.fab-wheel {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35vh;
  height: 75vh;
  transition: all 0.3s ease;
  transform-origin: bottom right;
  transform: scale(0);
  z-index: 98;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end; 
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px #81a4f1;
}

.fab-checkbox:checked ~ .fab-wheel {
  transform: scale(1);
}

.fab-chat-box {
  background-color: #126ee2;
  border-radius: 10px;
  width: 100%;
  height: 75vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end; 
}

.fab-messages {
  text-align: left;
  width: 34vh;
  height: 80vh;
  margin: auto;
	overflow-y: auto;
  color: white
}

.fab-sender {
  text-align: left;
  width: 34vh;
  height: 7vh;
  margin: auto;
}

.fab-header {
  text-align: left;
  height: 5vh;
  width: 100%;
  background-color: #2c87e8;
  border-bottom: solid 1px #0c50a7;
  line-height: 5vh;
  padding-left: 10px;
  border-radius: 10px 10px 0 0;
  color: white;
}

.fab-inital-text {
  padding-left: 5vh;
  padding-right: 5vh;
  padding-top: 2vh;
}

@media screen and (min-width: 768px) {
  .fab-messages::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .fab-messages::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  .fab-messages::-webkit-scrollbar-thumb {
    background: #888; 
  }

  .fab-messages::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}
